<h1>New User</h1>
<div class="authform">
  <%= form_for @user, :url => users_manual_path, :html => {:method => :post} do |form| %>
    <%= render form %>
    <%= form.submit 'Create', :class => 'button right' %>
  <% end %>
</div>
<%= link_to 'Back', users_path %>
